@using TravelTripProject.Models.Classes
@model List<Blog>
@foreach (var blog in Model)
{
    <div class="right">

        <div class="bot-left">
            <img src="@blog.BlogPhoto" alt="" />
        </div>
        <div class="left-text">
            <h4>@blog.Header</h4>
            <span class="doller">@blog.Date.ToString("dd-MM-yyyy HH:mm")</span>
            @if (blog.Description.Length >= 50)
            {
                <p>@blog.Description.Substring(0, 50)...</p>
            }
            else
            {
                <p>@blog.Description</p>
            }
            <p><a href="/Blog/Detay/@blog.ID"><span class="read">Devamını Oku >></span></a></p>
        </div>
    </div>
}
